body {
    background-color: lightgray;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 5px;
}

.message-section {
    height: 100%;
}
.message-container {
    overflow-y: auto;
    height: 100%;
}
